<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <form action="/products/new" method="POST">
        <label>Image URL:</label>
        <input type="url" name="image" required><br>
        <label>Name:</label>
        <input type="text" name="name" required><br>
        <label>Price:</label>
        <input type="number" name="price" required><br>
        <label>Discount:</label>
        <input type="number" name="discount" value="0"><br>
        <label>Background Color:</label>
        <input type="color" name="bgColor"><br>
        <label>Panel Color:</label>
        <input type="color" name="panelcolor"><br>
        <label>Text Color:</label>
        <input type="color" name="textColor"><br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>